.main_page {
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(0.25turn, #404086, #8e3d80, #cf3d7b );
}

.dashboard-title {
  border-bottom: 1px solid white;
  font-size: 38px;
  font-weight: 500;
}

.data-panel {
  width: 90%;
  max-width: 800px;
  border: 1px solid #3cb7b0;
  border-radius: 3px;
}

.input-panel {
  width: 90%;
  max-width: 800px;
}

.input-btn {
  white-space: nowrap;
  border: 1px solid #3cb7b0;
  font-weight: 500;
  color: white;
}

.input-btn:hover {
  color: #3cb7b0;
}

.input-btn:focus {
  box-shadow: none;
}

.input-address {
  background-color: transparent;
  border: 1px solid #3cb7b0;
  color: white;
  font-size: 20px;
}

.input-address:focus {
  background-color: transparent;
  box-shadow: 0 0 5px #3cb7b0 !important;
  color: white;
}

.data-field:not(.data-field:last-child) {
  border-bottom: 1px solid #3cb7b0;
}

.data-title {
  color: white;
  font-size: 30px;
  text-shadow: 2px 4px 12px black;
}

.data-title img {
  object-fit: cover;
}

.data-value {
  color: white;
  font-size: 25px;
  margin: 0;
}

.data-field-span {
  width: 50%;
}

.data-field-span:first-child {
  border-right: 1px solid #3cb7b0;
}

@media (max-width: 425px) {
  .dashboard-title {
    font-size: 30px;
  }
  .data-title {
    font-size: 24px;
  }
  .data-value {
    font-size: 18px;
  }
  .input-address {
    font-size: 18px;
  }
}
